.myFeedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myFeedback .title{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 2rem 0 3rem 0;
}

.myFeedback .feedbackList{
    width: 80%;
    overflow-y: auto;
}

.myFeedback .feedbackList li{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.5rem 0;
    padding: 2rem;
    border-bottom: 1px solid #cac9c9;
    list-style-type: number;
}
